.sheet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    height: max-content;
    align-items: stretch;
    width: 100%;
}



